<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0b0, USB CDC ACM driver Data Interface Fernvale</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.kosagi.fernvale</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.kosagi.fernvale</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0b0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Fernvale</key>
		<dict>
			<key>IOUserClientClass</key>
			<string>AppleUSBCDCACMDataUserClient</string>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>3</integer>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>CFBundleIdentifier</key>
			<string>com.kosagi.fernvale</string>
			<key>IOClass</key>
			<string>AppleUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
		</dict>
	</dict>
</dict>
</plist>
